@import url('/css/rajdhani.css');
@import "tailwindcss";

:root {
    --brand-primary-red: #73060A;
    --brand-primary-black: #181811;
    --brand-primary-neutral: #FFFFFB;
    --body-one: 1.25rem;
    --body-two: 1rem;
}

::-webkit-scrollbar {
  display: none;
}

body {
    background: var(--brand-primary-neutral);
    margin: 0;
    font-family: 'Rajdhani-Medium';
}

h1 {
    font-size: 2.75rem;
    font-family: 'Rajdhani-Bold';
}

h2 {
    font-size: 2.25rem;
    font-family: 'Rajdhani-Bold';
}

h3 {
    font-size: 2rem;
    font-family: 'Rajdhani-Bold';
}

h4 {
    font-size: 1.5rem;
    font-family: 'Rajdhani-Bold';
}

h5 {
    font-size: 2rem;
    font-family: 'Rajdhani-Semibold';
}

h6 {
    font-size: 12rem;
    font-family: 'Rajdhani-Bold';
}

button {
    font-size: 1.25rem;
    font-family: 'Rajdhani-Medium';
}

nav {
    border-style: solid;
    border-color: var(--brand-primary-black);
    border-radius: 10px;
    border-width: 2px;
}

p {
    font-family: 'Rajdhani-Medium';
    font-size: 1.25rem;
}

a {
    font-family: 'Rajdhani-Medium';
    font-size: 1.25rem;
    color: var(--brand-primary-neutral);
}

footer {
    background-color: var(--brand-primary-red);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 11rem;
    width: 100%;
    color: var(--brand-primary-neutral);
}

ul > li > a {
    font-size: 1.5rem;
    font-family: 'Rajdhani-Bold';
    color: var(--brand-primary-black);
}

#button-variant-2 {
    background-color: var(--brand-primary-red);
    color: var(--brand-primary-neutral);
}

#button-variant-3 {
    background-color: var(--brand-primary-neutral);
    color: var(--brand-primary-black);
    border-style: solid;
    border-color: var(--brand-primary-black);
    border-radius: 10px;
    border-width: 2px;
}

#landing {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-text {
    margin-top: 4em;
    margin-right: auto;
    padding-left: 8em;
}

.card {
    border-style: solid;
    border-color: var(--brand-primary-black);
    border-radius: 10px;
    border-width: 2px;
}

#scattered-gallery > img {
    width: 23.63rem;
    height: 15.5rem;
    object-fit: cover;
}

#scattered-gallery {
    display: grid;
    grid-template-columns: repeat(4, 23.63rem);
    grid-template-rows: repeat(2, 15.5rem);
    place-items: center;
}

#highlight {
    font-size: 1.25rem;
    font-family: 'Rajdhani-Bold';
}

#footer-logo {
    border-left: solid 0.5px;
    border-color: var(--brand-primary-neutral);
}

.search-bar {
    border-style: solid;
    border-color: var(--brand-primary-black);
    border-width: 2px;
}

#filters-container > p {
    color: var(--brand-primary-neutral);
}

#filters-container > button {
    color: var(--brand-primary-neutral);
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100%;
}

#filters-container > button:hover {
    cursor: pointer;
    background-color: var(--brand-primary-neutral);
    color: var(--brand-primary-black);
    border-radius: 1.5rem;
    border: solid;
    border-color: var(--brand-primary-black);
}

#resource > a {
    color: var(--brand-primary-red);
}

#mission-statement {
    contain: content;
}

#mission-statement > img {
    width: 708px;
    height: 402px;
    position: absolute;
    filter: drop-shadow(-10px 10px 10px #181811);
}

#address-text {
    border-left: solid #73060A 0.4rem;
    padding: 3rem;
}

