@import url('/css/rajdhani.css');
@import "tailwindcss";

:root {
    --brand-primary-red: #73060A;
    --brand-primary-black: #181811;
    --brand-primary-neutral: #FFFFFB;
    --body-one: 1.25rem;
    --body-two: 1rem;
}

::-webkit-scrollbar {
  display: none;
}

body {
    background: var(--brand-primary-neutral);
    margin: 0;
    font-family: 'Rajdhani-Medium';
}

h1 {
    font-size: 2.75rem;
    font-family: 'Rajdhani-Bold';
}

h2 {
    font-size: 2.25rem;
    font-family: 'Rajdhani-Bold';
}

h3 {
    font-size: 2rem;
    font-family: 'Rajdhani-Bold';
}

h4 {
    font-size: 1.5rem;
    font-family: 'Rajdhani-Bold';
}

h5 {
    font-size: 1.75rem;
    font-family: 'Rajdhani-Semibold';
}

h6 {
    font-size: 12rem;
    font-family: 'Rajdhani-Bold';
}

button {
    font-size: 1.25rem;
    font-family: 'Rajdhani-Medium';
}

nav {
    border-style: solid;
    border-color: var(--brand-primary-black);
    border-radius: 10px;
    border-width: 2px;
}

p {
    font-family: 'Rajdhani-Medium';
    font-size: 1.25rem;
}

a {
    font-family: 'Rajdhani-Medium';
    font-size: 1.25rem;
}

footer {
    background-color: var(--brand-primary-red);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 10rem;
    width: 100%;
    color: var(--brand-primary-neutral);
}

ul > li > a {
    font-size: 1.5rem;
    font-family: 'Rajdhani-Bold';
    color: var(--brand-primary-black);
}

#footer-links {
    font-family: 'Rajdhani-Variable';
    font-weight: 375;
    line-height: 2.25rem;
}

#button-variant-2 {
    background-color: var(--brand-primary-red);
    color: var(--brand-primary-neutral);
}

#button-variant-3 {
    background-color: var(--brand-primary-neutral);
    color: var(--brand-primary-black);
    border-style: solid;
    border-color: var(--brand-primary-black);
    border-radius: 10px;
    border-width: 2px;
}

#main-hook > div > img {
    filter: grayscale(100%) contrast(1.15) brightness(0.65) sepia(1) hue-rotate(-35deg);
}

#join-btn {
    box-shadow: inset 0 0 0 0 #73060A;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#join-btn:hover {
    box-shadow: inset 120px 0 0 0 #181811;
}

.cta-btn {
    background-color: var(--brand-primary-neutral);
    color: var(--brand-primary-black);
    border-style: solid;
    border-color: var(--brand-primary-black);
    border-radius: 10px;
    border-width: 2px;
    box-shadow: inset 0 0 0 0 #FFFFFB;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.cta-btn:hover {
    box-shadow: inset 175px 0 0 0 #73060A;
    color: var(--brand-primary-neutral);
    border-color: #73060A;
}

.sparc-btn {
    background-color: var(--brand-primary-neutral);
    color: var(--brand-primary-black);
    border-style: solid;
    border-color: var(--brand-primary-black);
    border-radius: 10px;
    border-width: 2px;
    box-shadow: inset 0 0 0 0 #FFFFFB;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.sparc-btn:hover {
    box-shadow: inset 200px 0 0 0 #73060A;
    color: var(--brand-primary-neutral);
    border-color: #73060A;
}

#footer-links {
    position: relative;
}

#footer-links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 1px;
    background: #FFFFFB;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

#footer-links:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #181811;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

#hero-text {
    margin-top: 4em;
    padding-left: 8em;
}

.card {
    border-style: solid;
    border-color: var(--brand-primary-black);
    border-radius: 10px;
    border-width: 2px;
    box-shadow: -1px 1px 0px var(--brand-primary-black),
                -2px 2px 0px var(--brand-primary-black),
                -3px 3px 0px var(--brand-primary-black),
                -4px 4px 0px var(--brand-primary-black),
                -5px 5px 0px var(--brand-primary-black),
                -6px 6px 0px var(--brand-primary-black);
}

.news-card {
    background-color: var(--brand-primary-red);
    color: var(--brand-primary-neutral);
}

#scattered-gallery > img {
    width: 23.63rem;
    height: 15.5rem;
    object-fit: cover;
}

#scattered-gallery {
    display: grid;
    grid-template-columns: repeat(4, 23.63rem);
    grid-template-rows: repeat(2, 15.5rem);
    place-items: center;
}

#gallery-link {
    font-size: 1.5rem;
    font-family: 'Rajdhani-SemiBold';
    text-decoration-thickness: 0.2rem;
    box-shadow: inset 0 0 0 0 #73060A;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#gallery-link:hover {
    box-shadow: inset 0 250px 0 0 #181811;
    color: var(--brand-primary-neutral);
}

#highlight {
    font-size: 1.25rem;
    font-family: 'Rajdhani-Bold';
}

.search-bar {
    border-style: solid;
    border-color: var(--brand-primary-black);
    border-width: 2px;
}

#filters-container > p {
    color: var(--brand-primary-neutral);
}

#filters-container > button {
    color: var(--brand-primary-neutral);
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100%;
    border-radius: 1.5rem;
    border: solid;
    border-color: var(--brand-primary-black);
}

#filters-container > button:hover {
    cursor: pointer;
    background-color: var(--brand-primary-neutral);
    color: var(--brand-primary-black);
}

#resource > a {
    color: var(--brand-primary-red);
}

#mission-statement {
    contain: content;
}

#mission-statement > img {
    width: 708px;
    height: 402px;
    position: absolute;
    filter: drop-shadow(-10px 10px 10px #181811);
}

#address-text {
    border-left: solid #73060A 0.4rem;
    padding: 3rem;
}

#SPARC {
    width: 6.5rem;
}