{% extends 'base.html' %}

{% block title %} Robotics News {% endblock %}

{% block content %}

<section class="dark-section center-all section-1-offset" style="gap: 4rem">
  {% set primary_news_article = news_articles[0] %}
  <div class="text-image spread-space flex-horizontal flex-wrap">
    <div class="smaller_image">
      <img class="smaller_image small-border-radius" src="{{ url_for('static', filename='images/' + primary_news_article['image_url']) }}" width="100%" height="100%">
    </div>
    <div class="text">
      <div>
        <p>{{ primary_news_article }}</p>
      </div>
      <div class="news-feature-read-more">
        <a href="{{ url_for('news.retrieve_news', news_headline=primary_news_article['news_headline'].replace(' ', '-')|lower) }}">Read More</a>
      </div>
    </div>
  </div>
  <div class="news-catalog flex-wrap">
    {% for index in range(news_articles|length|fill_space) %}
      {% if news_articles|length > index and not news_articles[index]|is_first(news_articles) %}
        <div class="news-feature">
          <div class="news-feature-image">
            <img class="small-border-radius" src="{{ url_for('static', filename='images/' + news_articles[index]['image_url']) }}" width="100%" height="100%">
          </div>
          <div class="news-feature-heading">
            <h2>{{ news_articles[index] }}</h2>
          </div>
          <div class="news-feature-read-more">
            <a href="{{ url_for('news.retrieve_news', news_headline=news_articles[index]['news_headline'].replace(' ', '-')|lower) }}">Read More</a>
          </div>
        </div>
      {% elif index > news_articles|length and news_articles|length > 1 %}
        <div class="news-feature-blank"></div>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% endblock %}